{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center">Popular Opinions</h1><br><br>
            {% for opinion in opinions %}
            <div class="container">
                <div class="row col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{{opinion.title}}</h3>
                        </div>
                        <div class="panel-body text-center">
                            {{ opinion.opinion }}
                            {% if opinion.agrees %}
                                <span class="label label-success">{{opinion.agrees}}</span>
                            {% endif %}
                            {% if opinion.disagrees %}
                                <span class="label label-danger">{{opinion.disagrees}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="col-md-offset-6">
                        <button type="button" id="agree-{{opinion.opinion_pk}}" class="btn btn-success">Agree</button>
                        <a href="{% url 'agree' opinion.opinion_pk %}">+1</a>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="col-md-offset-6">
                        <button type="button" id="agree-{{opinion.opinion_pk}}" class="btn btn-danger">Disagree</button>
                        <a href="{% url 'disagree' opinion.opinion_pk %}">-1</a>
                    </div>
                </div>
            </div><br><br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
